<h3> Your Events </h3>
   <ul id = "users">
      <% @user.created_events.each do |event|%>
      <li>
          Event: <%= event.name %> <br/> 
      </li>
      <li>
        Location: <%= event.location %><br/>
      </li>
      <li>     
         Event_Date: <%= event.start_date %>
      </li>
      <%end%>    
   </ul>
   <h3>FUTURE EVENTS</h3>
   <ul>
      <%@user.attended_events.each do |event|%>
         <%if Date.today<event.start_date%>
            <%=event.name%>
         <%end%>
       <%end%>
   </ul>
   <h3>PAST EVENTS</h3>
   <ul>
      <%@user.attended_events.each do |event|%>
         <%if Date.today>event.start_date%>
            <%=event.name%>
         <%end%>
       <%end%>
   </ul>

