<h3> Your Events </h3>
<p>
   <ul>  
       <li>
         Creator: <%= @event.creator.username %> <br/> 
      </li>   
      <li>
          Event: <%= @event.name %> <br/> 
      </li>
      <li>
        Location: <%= @event.location %><br/>
      </li>
      <li>     
         Event_Date: <%= @event.start_date %>
      </li>
       <li>     
         Description: <%= @event.description %>
      </li>
      
   </ul>
</p>